@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto+Condensed:ital@0;1&display=swap");

:root {
    --font-page: "Roboto Condensed", sans-serif;
    --color-one: #fff;
    --color-two: #000;
    --color-three: #ffa500;
    --color-four: #ff4500;
    --color-five: #663399;
    --color-six: #20b2aa;
    --color-seven: #529933;
    --color-page-background: #010207;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--font-page);
    background-color: var(--color-page-background);
    color: var(--color-one);
    animation: appear 1s ease-in-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    background-color: var(--color-two);
    color: var(--color-one);
    border-bottom: 0.1rem solid var(--color-one);
}

.header ul {
    display: flex;
    list-style: none;
}

.header button {
    font-size: 1.1rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--color-one);
}

.header button:hover {
    background-color: var(--color-five);
    color: var(--color-one);
    transition: 0.6s;
}

.header button:focus {
    background-color: var(--color-four);
    color: var(--color-one);
}

.header a {
    text-decoration: none;
    color: var(--color-one);
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.5rem;
    transform: scale(1.1);
}

.header a:hover {
    color: var(--color-three);
    transition: 0.6s ease-in;
}

a:focus {
    outline: none;
    color: var(--color-four);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem;
    background-color: var(--color-two);
    color: var(--color-one);
    border-top: 0.1rem solid var(--color-one);
}

.name-author {
    color: var(--color-six);
}

.name-author:hover {
    text-decoration: none;
    color: var(--color-four);
}

.light {
    background-color: var(--color-one);
    color: var(--color-two);
}

.light .container {
    background-color: var(--color-one);
    color: var(--color-two);
}

.light .content-astronomy a {
    color: var(--color-page-background);
    text-transform: uppercase;
    font-weight: 600;
}

.light .networks a {
    text-decoration: none;
    color: var(--color-page-background);
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 2rem;
    /* background-color: var(--color-two); */
    margin-top: 1rem;
    border: 1px solid var(--color-page-background);
}

.light .container-content-portfolio-one:hover {
    background-color: var(--color-five);
    color: var(--color-one);
}

.light .container-content-portfolio-one a {
    color: var(--color-two);
}

.light .container-content-portfolio-one a:hover {
    color: var(--color-three);
}

@keyframes appear {
    0% {
        translate: -10vw 0vh;
    }

    100% {
        translate: 0 0;
    }
}

/* menu hamburger */

/* creation button */
#burguer {
    display: none;
}

@media screen and (max-width: 768px) {

    .header {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1.4rem;
        background-color: var(--color-two);
        color: var(--color-one);
        border-bottom: 0.1rem solid var(--color-one);
    }

    .header ul {
        display: flex;
        list-style: none;
    }

    .header button {
        font-size: 1.1rem;
        border: none;
        border-radius: 1rem;
        padding: 1rem;
        background-color: var(--color-one);
    }

    .header button:hover {
        background-color: var(--color-five);
        color: var(--color-one);
        transition: 0.6s;
    }

    .header button:focus {
        background-color: var(--color-four);
        color: var(--color-one);
    }

    .header a {
        text-decoration: none;
        color: var(--color-one);
        text-transform: uppercase;
        font-weight: 600;
        padding: 0.5rem;
        transform: scale(1.1);
    }

    .header a:hover {
        color: var(--color-three);
        transition: 0.6s ease-in;
    }


    #burguer {
        display: block;
        text-align: center;
    }

    .test {
        display: flex;
        flex-direction: column;
        /* background-color: #ffa500; */
        width: 100%;
    }

    .material-symbols-outlined {
        margin: auto;
    }

    .menu {
        display: none;
    }

    .header ul {
        display: block;
        list-style: none;
        flex-direction: column;
        font-size: 2rem;
    }

    .menu ul li {
        text-align: center;
    }

    .menu>a:hover {
        color: var(--color-four);
        transition: 0.6s ease-in;
    }

    .menu>a:focus {
        outline: none;
        color: var(--color-four);
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    #burguer {
        display: block;
        text-align: center;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    .test {
        display: flex;
        flex-direction: column;
        /* background-color: #ffa500; */
        width: 100%;
    }

    .material-symbols-outlined {
        margin: auto;
    }

    .menu {
        display: none;
    }

    .header ul {
        display: block;
        list-style: none;
        flex-direction: column;
        font-size: 2rem;
    }

    .menu ul li {
        text-align: center;
    }

    .menu>a:hover {
        color: var(--color-four);
        transition: 0.6s ease-in;
    }

    .menu>a:focus {
        outline: none;
        color: var(--color-four);
    }
}